 body{
       
        background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%), url(21.jpg); 
        
       
    }


.box{
  width: 30px;           
      height: 20px;          
      background-color: #4CAF50; 
      color: white;           
      display: flex;         
      align-items: center;   
      justify-content: center; 
      border-radius: 10px;    
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      font-size: 20px;
      margin: 50px auto;      
      transition: transform 1s; 
        
}

.box:hover {
      transform: scale(25.25); 
      cursor: pointer;
    }
 
 img {
  height: 70px;
  width: 60px;
  display: flex;         
      align-items: center;   
      justify-content: center; 
      border-radius: 10px;    
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      font-size: 20px;
      margin: 50px auto;      
      

      
 }

img:hover {
  transform: scale(1.1);
  cursor: pointer;
  
}


.card img:hover {
  animation-play-state: paused;
  transform: scale(1.12);
  box-shadow:
    0 0 10px white,
    0 0 25px white,
    0 0 50px white;
  cursor: pointer;
}


.card {
  flex: 0 0 20em;
  height: 25em;
  padding: 1em;
  border-radius: .2em;
  align-content: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.group {

  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 15s infinite linear, glow 1.5s infinite alternate;
  padding-right: 1em;
 text-align: center;
 font-display: !important;
 font-family: times new roman;
 color: beige;
font-size: 15px;
 }
 
h1.glow {
  color: beige ;
  text-shadow:
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff;
  animation: glow 0.5s infinite alternate;
}

 @keyframes glow {
  from {
    text-shadow:
      0 0 5px beige,
      0 0 10px #ffd700;
  }
  to {
    text-shadow:
      0 0 10px beige,
      0 0 20px #ffd700,
      0 0 40px #ffae00;
  }




 
 

